{% extends 'RExam/MainTemplate.html' %}
{% load static %}
{% block title %}Экзамены{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Exams/style.css' %}"/>
{% endblock head %}
{% block content %}
    {% if perms.Exams.add_exammodel %}
        <div class="row controls justify-content-end p-2 mr-2"><a href="{% url 'CreateExam' %}">
            <button class="btn btn-success">Создать экзамен</button>
        </a></div>{% endif %}
    <div class="d-flex flex-row flex-wrap">
        {% for exam in object_list %}
            <div class="exam-content">
                <div class="exam-header">
                    <a class="exam-link" href="{% url 'DetailExam' exam.id %}">
                        <div class="exam-name">{{ exam.name }}</div>
                    </a>
                </div>
                <div class="exam-wrapper">
                    <div class="exam-description">{% if exam.description %}{{ exam.description }}{% endif %}</div>
                    <div class="exam-footer">
                        <div class="row">
                            <div class="exam-subject">Предмет:{{ exam.subject }}</div>
                            <div class="exam-date">Дата создания: {{ exam.date }}</div>
                            <div class="exam-author">Автор: <u>{{ exam.author }}</u></div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Экзамены отсутствуют...</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="row justify-content-center">
            <nav class="paginator" aria-label="Страницы экзаменов">
                <ul class="pagination flex-wrap">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                        </li>
                    {% endif %}
                    {% for page_num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == page_num %} active {% endif %}">
                            <a class="page-link"
                               href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock content %}